
.navbar {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    .nav-links {
        display: none;
    }
}

@media screen and (min-width: 764px) {

    .navbar {
        background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        width: 100%;

        .nav-links {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            width: 20vw;

            .nav-link {
                list-style: none;
            }
        }

        .burger-menu {
            display: none;
        }
    }
}
