.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    .content {
        background-color: $base-color;
        color: $base-text-color;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
            
        .main-photo {
            img {
                min-height: 100%;
                max-width: 100%;
            }
        }
    }


    @media screen and (min-width: 764px) {
        .top-content {
            margin: 0;
        }

        .content {
            flex-direction: row;
            justify-content: space-around;
    
            .main-photo{
                img {
                    min-height: 100%;
                    max-width: 100%;
                }
            }
    
            .main-text {
                display: block;
                flex-direction: column;
                justify-content: center;
                min-width: 50%;
            }
        }
    }

    @media screen and (min-width: 2149px) {
        .top-content {
            display: flex;
            justify-content: space-between;
            
            .content {
                min-width: 100%;

                .main-text {
                    display: flex;
                    flex-grow: 1;
                    min-height: 100%;
                    max-width: 50%;
                    padding: 20px;
                }
    
                .main-photo{
                    min-width: 50%;

                    img {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}
