.footer{
    background-color: rgb(194, 126, 0);
    display: absolute;
    bottom: 0;
    
    .footer-content {
        min-width: 100%;
        display: flex;
        justify-content: space-evenly;

        ul {
            padding: 0;
        }

        li {
            margin: 0;
            list-style: none;
        }
    }
}
