
.navbar {
    background-color: rgb(194, 126, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

        .site-logo{
            max-height: 10vh;
            max-width: 10vh;
        }

    .menu {
        display: none;
    }
}

@media screen and (min-width: 764px) {

    .navbar {
        // background-color: aquamarine;
        display: flex;
        justify-content: space-around;
        padding: 15px;
        width: 100%;

        .menu {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            width: 20vw;

            .menu-link {
                list-style: none;
            }
        }

        .burger-menu {
            display: none;
        }
    }
}
